name: Provision Infrastructure & Configure Backup

on:
  push:
    branches:
      - main
  workflow_dispatch: 
env:
  TF_VERSION: 1.5.0
  AWS_REGION: eu-north-1

jobs:
  provision:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      # ------------------------------
      # ------------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------------------
      # Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      # ------------------------------
      #AWS credentials
      # ------------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # ------------------------------
      # Terraform
      # ------------------------------
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Apply
        working-directory: ./terraform
        env:
          TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
        run: terraform apply -auto-approve

      # ------------------------------
      #Terraform
      # ------------------------------
      - name: Get Terraform Outputs
        id: tf_outputs
        working-directory: ./terraform
        run: |
          echo "SERVER_IP=$(terraform output -raw server_ip)" >> $GITHUB_ENV
          echo "Server IP: $(terraform output -raw server_ip)"

      # ------------------------------
      # مرحله ۶: نصب Ansible
      # ------------------------------
      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      # ------------------------------
      #(setup.yml)
      # ------------------------------
      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
          ansible-playbook -i "${SERVER_IP}," \
            -u ubuntu \
            --private-key "${{ secrets.SSH_PRIVATE_KEY }}" \
            ansible/playbooks/setup.yml
