name: Provision Infrastructure & Configure Backup

on:
  push:
    branches:
      - main
  workflow_dispatch: 
env:
  TF_VERSION: 1.5.0
  AWS_REGION: eu-north-1

jobs:
  provision:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      # ------------------------------
      # ------------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------------------
      # Terraform
      # ------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      # ------------------------------
      #AWS credentials
      # ------------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      # ------------------------------
      # Terraform
      # ------------------------------
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Apply
        working-directory: ./terraform
        env:
          TF_VAR_public_key: ${{ secrets.SSH_PUBLIC_KEY }}
        run: terraform apply -auto-approve -no-color -input=false -parallelism=1

      # ------------------------------
      #Terraform
      # ------------------------------
      - name: Get Terraform Outputs
        id: tf_outputs
        working-directory: ./terraform
        run: |
          echo "SERVER_IP=$(terraform output -raw server_ip)" >> $GITHUB_ENV
          echo "Server IP: $(terraform output -raw server_ip)"
      # ------------------------------
      #(setup.yml)
      # ------------------------------
      - name: Setup SSH Key for Ansible
        run: |
          mkdir -p ~/.ssh
            echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/mykey
            chmod 600 ~/.ssh/mykey

      - name: Setup Ansible
        run: |
          sudo apt update
          sudo apt install ansible -y
      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        
      - name: Run Ansible Playbooks
        run: |
          ansible-playbook -i ansible/inventories/hosts.ini ansible/playbooks/setup.yml
          ansible-playbook -i ansible/inventories/hosts.ini ansible/playbooks/deploy.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
